.env

# Hardhat files
hardhat/.env
hardhat/.openzeppelin
hardhat/node_modules
hardhat/coverage
hardhat/coverage.json
hardhat/typechain
hardhat/cache
hardhat/artifacts

# Frontend files
frontend/.env
frontend/node_modules
frontend/builds